<div class="detail">
    <span class="status" [class.checked-in]="detail.checkin">
    </span>
    <div *ngIf="editing">
        <input type="text" [value]="detail.fullname" (input)=onChangeName(fullname.value) #fullname />
    </div>
    <div *ngIf="! editing">{{detail.fullname}} </div>
    <div>Checkedin: <span
            [class.error]="!detail.checkedindate">{{ detail.checkedindate? (detail.checkedindate | date: 'EEEE, MMMM d, y') : 'No Checked In' }}</span>
    </div>
    <button (click)="onChangeNameToggle()">
        {{ !this.editing ? 'Edit' : 'Done' }}
    </button>
    <button (click)="onRemove()">
        Remove
    </button>
    <button (click)="goToPassenger()">
        View
    </button>
</div>